<% provide(:title, "Search Results")%>

<body>

<div class="itemsFound">
<% if @products %>
    <span><%= @products.count %> Item(s) Found</span>
<% end %>
</div>

<% if @products.count >= 1 %>
<table id="products" style="margin-left: 30px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Size</th>
      <th>Color</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product %></td>
        <td><%= product.description %></td>
        <td><%= product.size %></td>
        <td><%= product.color %></td>
        <td><%= image_tag "products/#{product.image_url}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




</body>