<script src="//code.jquery.com/jquery-3.1.0.slim.min.js"></script>

<script src="lightzoom.js">
  $('.image-selector').lightzoom(
    glassSize   : 175
    zoomPower   : 3

);
</script>



<div class="row">
<div class="col-md-8">
  
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.image_url %>
</p>
  
<!-- p>
  < image_tag @product.image_url, :size => '150x150' %>
</p -->
    
</div>

<div class="col-md-4">

<h2>
  <strong><%= @product.title %></strong>
</h2>


<div class="star-rating" data-score= <%= @avg_rating %> ></div>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<br>
<br>

<%= button_to "Add to Cart", order_items_path(@product_id) %>

<br>

<%= link_to "Write a Review", new_product_review_path(@product), class: "btn btn-primary" %>

</div>
</div>

<hr>

<h3 style="text-align: center;">COMPLETE YOUR LOOK</h3>
<div class="center">
<% @products.each do |p| %>
    <%= image_tag "products/#{@product.image_url}" %>
<% end %>
</div>


<hr>
<h3>REVIEWS</h3>
<% if @reviews.blank? %>
<h3>No reviews yet. Be the first to write one!</h3>
<% else %>
  <% @reviews.each do |review| %>
  <p><strong>Rating: </strong><%=  review.rating %></p>
  <div class="star-rating" data-score= <%= review.rating %>> </div>
  <p><strong>Comment: </strong><%= review.comment %></p>
  <hr>
<% end %>
<% end %>


<br>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


<script>
  $('.star-rating').raty(
    {path: 'images/ratings',
    readOnly: true,
      score: function(){
        return $(this).attr('data-score');
      }
    });
</script>




